*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.agents/
.ai-factory/
.ai-factory.json
.codex/
skills-lock.json
TASKS.md
AGENTS.md
.vscode/

.github/skills/
.github/copilot-instructions.md

project.md
